<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h5 class="section-title ff-secondary text-center text-primary fw-normal">Menu</h5>
            <h1 class="mb-5">Nuestros platillos</h1>
        </div>
        <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.1s">
            <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
                <li class="nav-item" *ngFor="let categoria of categorias; let index = index">
                    <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3" [ngClass]="index == 0? 'active':''"
                        data-bs-toggle="pill" href="#tab-{{categoria.id}}">
                        <i class="fa fa-utensils fa-2x text-primary" *ngIf="categoria.nombre != 'Bebidas'"></i>
                        <i class="fa fas fa-wine-bottle fa-2x text-primary" *ngIf="categoria.nombre == 'Bebidas'"></i>
                        <div class="ps-3">
                            <!-- <small class="text-body">{{categoria.nombre}}</small> -->
                            <h6 class="mt-n1 mb-0">{{categoria.nombre}}</h6>
                        </div>
                    </a>
                </li>
            </ul>

            <div class="tab-content">

                <div id="tab-{{categoria.id}}" class="tab-pane fade show p-0"
                    *ngFor="let categoria of categorias; let index = index" [ngClass]="index == 0? 'active':''">
                    <div class="row g-4">
                        <div class="col-lg-6" *ngFor="let platillo of obtenerPlatillosPorCategoria(categoria.nombre)">
                            <div class="d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded" [src]="obtenerUrl(platillo.id)" alt=""
                                    style="width: 80px;">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>{{platillo.nombre}}</span>
                                        <span class="text-primary">{{platillo.precio | currency }}</span>
                                    </h5>
                                    <small class="fst-italic">{{platillo.descripcion}}</small>

                                    <app-autorizado>
                                        <ng-container autorizado>
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                                data-bs-target="#exampleModal" (click)="mostarPlatillo(platillo)">
                                               Agregar
                                            </button>
                                        </ng-container>
                                    </app-autorizado>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">{{platillo?.nombre}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <app-agregar-platillo-acarrito (cerrarEmittar)="cerrarElModal($event)" [platillo]="platillo"/>                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="botonCerrarDelModal">Cancelar</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>