<div class="container-xxl position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0">
        <a routerLink="" class="navbar-brand p-0">
            <h1 class="text-primary m-0"><i class="fa fa-utensils me-3"></i>{{restauranteInfo?.nombre}}</h1>
            <!-- <img src="img/logo.png" alt="Logo"> -->
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0 pe-4">                
                <a routerLink="" class="nav-item nav-link"
                    [ngClass]="nabvarServicio.tag == 'inicio'? 'active':''">Inicio</a>
                <a class="nav-item nav-link" routerLink="acercaDe" [ngClass]="nabvarServicio.tag == 'acercaDe'? 'active':''">
                    Acerca de
                </a>
                <a [routerLink]="['menu']" class="nav-item nav-link">Menu</a>

                <app-autorizado>
                    <ng-container noAutorizado>
                        <a routerLink="iniciarSesion" class="nav-item nav-link">Iniciar sesión</a>
                    </ng-container>

                    <ng-container autorizado>
                        <div class="nav-item dropdown" [ngClass]="nabvarServicio.tag == 'sesion'? 'active':''">
                            <a href="#" class="nav-link dropdown-toggle"
                                data-bs-toggle="dropdown">{{servicio.obtenerCampo("Nombre")}}</a>
                            <div class="dropdown-menu m-0">
                                <a routerLink="" class="dropdown-item" (click)="servicio.cerrarSesion()">Cerrar
                                    sesión</a>
                                <a routerLink="/cliente/detalles" class="dropdown-item">Ver cuenta</a>
                                <a routerLink="/cliente/pedidos" class="dropdown-item">Pedidos</a>
                            </div>
                        </div>
                        <a [routerLink]="['menu']" class="nav-item nav-link">Menu</a>
                    </ng-container>
                </app-autorizado>
                <a [routerLink]="['carrito']" class="nav-item nav-link">Carrito ({{repo.carrito.platillos.length}})</a>
                <!-- <a href="contact.html" class="nav-item nav-link">Contact</a> -->
            </div>
            <!-- <a href="" class="btn btn-primary py-2 px-4">Book A Table</a> -->
        </div>
    </nav>

    <div class="container-xxl py-5 bg-dark hero-header mb-5">
        <div class="container text-center my-5 pt-5 pb-4">
            <h1 class="display-3 text-white mb-3 animated slideInDown">{{nabvarServicio.titulo}}</h1>
            <!-- <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center text-uppercase">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Pages</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">Menu</li>
                </ol>
            </nav> -->
        </div>
    </div>

    <!-- <div class="container-xxl py-5 bg-dark hero-header mb-5">
        <div class="container my-5 py-5">
            <div class="row align-items-center g-5">
                <div class="col-lg-6 text-center text-lg-start">
                    <h1 class="display-3 text-white animated slideInLeft">Enjoy Our<br>Delicious Meal</h1>
                    <p class="text-white animated slideInLeft mb-4 pb-2">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
                    <a href="" class="btn btn-primary py-sm-3 px-sm-5 me-3 animated slideInLeft">Book A Table</a>
                </div>
                <div class="col-lg-6 text-center text-lg-end overflow-hidden">
                    <img class="img-fluid" src="assets/img/hero.png" alt="">
                </div>
            </div>
        </div>
    </div> -->
</div>



<!-- <div class="mt-3">
    <button mat-button color="link" routerLink="/">
        <mat-icon>home</mat-icon>
        Inicio
    </button>

    <app-autorizado>
        <ng-container autorizado>
            <button mat-button routerLink="carrito" color="link" matBadge="{{servicio.carrito.platillos.length}}" matBadgeColor="accent">
                <mat-icon>shopping_cart</mat-icon>
                Carrito
            </button>

            <button mat-button [matMenuTriggerFor]="menu">
                <mat-icon>person</mat-icon>
                {{servicio.sesion.obtenerCampo("Nombre")}}
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="servicio.sesion.cerrarSesion()"><mat-icon>logout</mat-icon> Cerrar
                    sesión</button>
                <button mat-menu-item routerLink="/cliente/detalles"><mat-icon>manage_accounts</mat-icon>Ver cuenta</button>
                <button mat-menu-item routerLink="/cliente/pedidos"><mat-icon>list</mat-icon>Ver Pedidos</button>
            </mat-menu>

        </ng-container>
        <ng-container noAutorizado>
            <a mat-button routerLink="iniciarSesion">
                <mat-icon>login</mat-icon>
                Iniciar sesion
            </a>
            <a mat-button routerLink="cliente/registrar">
                <mat-icon>app_registration</mat-icon>
                Registrarse
            </a>
        </ng-container>
    </app-autorizado>
</div> -->