<div class="container-xxl py-5 px-0 wow fadeInUp" data-wow-delay="0.1s">
    <div class="row g-0">
        <!-- <div class="col-md-6">
            <div class="video">
                <button type="button" class="btn-play" data-bs-toggle="modal" data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                    <span></span>
                </button>
            </div>
        </div> -->
        <div class="col-md-3"></div>
        <div class="col-md-6 bg-dark d-flex align-items-center">
            <div class="p-5 wow fadeInUp" data-wow-delay="0.2s">
                <h5 class="section-title ff-secondary text-start text-primary fw-normal">Inicio de sesión</h5>
                <h1 class="text-white mb-4"></h1>
                <form [formGroup]="formGroup" (submit)="iniciarSesion()">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <!-- 
                            -->
                            <div class="form-floating">
                                <input type="email" class="form-control" placeholder="Tu correo"
                                    formControlName="correo">
                                <label for="email">Tu correo</label>
                                <div *ngIf="formGroup.controls['correo'].invalid && (formGroup.controls['correo'].dirty || formGroup.controls['correo'].touched)"
                                    class="danger">
                                    El correo es requerido</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="password" class="form-control" id="name" placeholder="Tu contraseña"
                                    formControlName="contrasenia">
                                <label for="name">Tu contraseña</label>
                                <div *ngIf="formGroup.controls['contrasenia'].invalid && (formGroup.controls['contrasenia'].dirty || formGroup.controls['contrasenia'].touched)"
                                    class="danger">
                                    La contraseña es requerido
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary w-100 py-3" type="submit" [disabled]="estaCargando">
                                <span *ngIf="!estaCargando">
                                    Iniciar sesión
                                </span>
                                <div *ngIf="estaCargando">
                                    <div class="spinner-border spinner-border-sm" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                    Un momento...
                                </div>
                            </button>
                        </div>
                        <div class="col-12 text-center">
                            <a class="btn btn-link" routerLink="/cliente/registrar">Registrarse</a>
                            <a class="btn btn-link" routerLink="/olvidoSuContrasenia">¿Olvido su contraseña?</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>