
<div class="container mt-5">

    <form (submit)="iniciarSesion()" [formGroup]="formGroup">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Correo</mat-label>
                <input formControlName="correo" matInput type="text" autocomplete="off" />
                <mat-error>El campo Apellidos es requerido</mat-error>
            </mat-form-field>
        </div>
        
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Contraseña</mat-label>
                <input formControlName="contrasenia" matInput type="Contraseña" type="password" autocomplete="off" />
                <mat-error>El campo Contraseña es requerido</mat-error>
            </mat-form-field>
        </div>

        <div class="row">
            <button mat-button type="submit">
                <span *ngIf="!estaCargando">Iniciar sesión</span>
                <span *ngIf="estaCargando">
                    Un momento ...                    
                    <div class="spinner-border spinner-border-sm" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </span>
            </button>
        </div>
    </form>
</div>